#AWS CREDENTIALS
export AWS_ACCESS_KEY_ID="ASIAQZ5DTLYWCUCRBCON"
export AWS_SECRET_ACCESS_KEY="zX63m4qWfNXH/PEWK0jo3MxU62ZFLOEM4Ukeq8Sh"
export AWS_SESSION_TOKEN="IQoJb3JpZ2luX2VjEEoaCXVzLWVhc3QtMSJHMEUCIH3mpqQfGa8OUn23GJQv6+Wq5YvQhzS0Eu1KCv9wwjL/AiEA5xY+bPr9MR4BLGVnNbipT3SsLql1msqfAh1mbtLvtzgq9wIIMxABGgwwNTU2NDA4MDkwMDQiDDkZ4uZJ2ZNPBBVx8SrUAvxmCIhHsc0x7hOOFzDCNz6NZYV35vF9oC8Mz815MBjJwIx3zgTHIELzsGP5mOiiCoPVzIr1jG2sGKmeHa9Pb1zy3VPxAuiCVVWfQaD/H7cO9i2zF4r6dV8bLkuAARfGy750Yy0SSVUAhEzm/7OyknJ0i9hGegHPvrvwUlGhy1r4FBsz1NnwrVxrwVRwXG4++/XUi2h4hlSUWI0LDMiU8tkoshDM/EGNQEgrZh2almouctA0oBgSt0STdYqnRSeyQpqfq4Zg/qdz5FDxt9hc8WxaO5HOMCytMwC3eCYHGg9abDvPVeLkkn4gSqH58mKEJ8vibK5g8kOio9nAqu8UFwu4C6hc4prIKalEM9T6BfHaQ5sV/Zh/xNiJ2ax3b+4RTXW95s2YRAVmX2fbymgOezQvtQ8zlEX5TToXiGKu0WwSD2lDJ1Y71mvAqdE1xdZn2+A+Kj0w8KzwmgY6pwHB3C9PvPaa7vPG8THR/viSovXc8RWbtjCd0insAtzCQKaaq/y6E+pFWFBJVI1PukVpRWjkEMMmXqUgMSvrkNymQtrrop/SF0cgdaeyGH7eVSRDzkaFcOsKHfyuuMx+Mmi9/3S75snaf/OtPsouxWg8OYSwdS836SwoaSVtTT8e5Cq69yLPNusi/DfeLbyEeb3u6h9EkTqh28Vg6uDJ5Nr4PXEPX0j9WA=="

#AWS CONFIG
export AWS_VPC_ID="vpc-0fcf208e6ecec4037" 
export AWS_LB_NAME="developersnet-edfi-shared-elb"  
export AWS_ECR_URL="public.ecr.aws/s2q7l7m0" 
export AWS_SG_ID="sg-092d75beef47937ff"

#IMAGES
export ODSAPI_IMAGE="${AWS_ECR_URL}/developersnet-edfi-api:latest";
export ADMINAPP_IMAGE="${AWS_ECR_URL}/developersnet-edfi-adminapp:latest";
export SWAGGER_IMAGE="${AWS_ECR_URL}/developersnet-edfi-swagger:latest";


#COMMON
export DEPLOYMENT_NAME=developersnet-edfi-shared
export TAG=v2
export ENCRYPTION_KEY="r2bemkTvjsRURdur0+c49eaON140QRkQzgQwPdht8Lk=" 

#DB
export POSTGRES_USER=postgres 
export PGPASSWORD=postgres1 
export POSTGRES_PASSWORD=postgres1 
export POSTGRES_DB=postgres
export ODS_DB=EdFi_Ods 
export POSTGRES_PORT=5432
export ODS_POSTGRES_HOST=developersnet-edfi-shared-ods-rds.ckljvufeppno.us-east-1.rds.amazonaws.com 
export ADMIN_POSTGRES_HOST="${ODS_POSTGRES_HOST}"


#ODS
export ApiSettings__PathBase="api"
export TPDM_ENABLED=true
 
export ODS_VIRTUAL_NAME="api"
export API_HOSTNAME="developersnet-edfi-shared-elb-1258834677.us-east-1.elb.amazonaws.com" 
export API_EXTERNAL_URL="http://developersnet-edfi-shared-elb-1258834677.us-east-1.elb.amazonaws.com"
export API_INTERNAL_URL="http://api.ed-fi-ods-aws.local"

#SWAGGER
export MINIMAL_KEY=minimal
export MINIMAL_SECRET=minimalSecret
export POPULATED_KEY=populated
export POPULATED_SECRET=populatedSecret
export DOCS_VIRTUAL_NAME=docs

#ADMIN
export ADMIN_USER="admin@test.com" 
export ADMIN_PASSWORD=Admin1
export SANDBOX_ADMIN_VIRTUAL_NAME=sandboxadmin
export ADMINAPP_VIRTUAL_NAME=adminapp